body{
  font-family: "Arial","Meiryo",sans-serif;
  font-size: 20px;
  text-align: center;
}

h1{
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  text-shadow: 1.5px 2px 3px darkgray;
  border-bottom: 3px solid rgb(115, 115, 114);
}

.text-pink{
  color: rgb(255, 192, 203);
}

.text-skyblue{
  color: skyblue;
}

.text-bold{
  font-weight: bold;
}